.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1rem 4.5rem;
  }

  &__image {
    object-fit: contain;
    width: 10rem;
  }

  &__info {
    display: flex;
    gap: 3rem;
  }
}
