@use "@/styles/index" as *;

.user {
  &__form {
    display: block;
  }

  &__group {
    display: flex;
    gap: 1rem;
    border: 1px solid #5e6488;
    border-radius: 8px;
    background: white;
    margin-bottom: 22px;

    & > *:first-child {
      border-right: 1px solid #5e6488;
    }

    &--error {
      margin-bottom: 0;
      border-color: $red-error;
    }
  }

  &__terms {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
    }
  }

  &__terms-link {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    text-align: left;

    &:hover {
      text-decoration-thickness: 2px;
    }
  }

  &__error {
    margin: 2px 0;
    font-size: 0.75rem;
    color: $red-error;
  }
}
