@use "@/styles/index" as *;

.summary-card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.18);
  max-width: 100%;

  &__header {
    color: $neutrals-700;
    border-bottom: 1px solid $neutrals-400;
    margin-bottom: 1rem;
  }

  &__label {
    color: $neutrals-700;
    font-size: 0.875rem;
    margin: 0;
    text-transform: uppercase;
  }

  &__user-name {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__info {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: 1rem;

    p {
      margin: 0.25rem 0;
    }

    strong {
      display: block;
      margin-bottom: 0.5rem;
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }
}
