$gray-0: #ffffff;
$gray-60: #5e6488;
$gray-500: #03050f;

$neutrals-200: #7981b2;
$neutrals-400: #d7dbf5;
$neutrals-700: #141938;

$red-300: #ff1c44;
$red-error: #e63946;

$blue-lightest: #fafbff;
$blue-berry: #4f4fff;
