@use "@/styles/index" as *;

.back {
  &__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    color: $blue-berry;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border: 2px solid $blue-berry;
    border-radius: 50%;
  }
}
