@use "@/styles/index" as *;

.plans {
  padding: 0;
  background-color: $blue-lightest;
  min-height: 100vh;
  @include with-header-offset;

  &__content {
    padding: 0 1.5rem;

    @include media-breakpoint-up(md) {
      padding: 0 7rem;
    }
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: left;

    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  &__subtitle {
    color: #666;
    margin-bottom: 2rem;
    text-align: left;

    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  &__selectors {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    cursor: pointer;

    input[type="radio"] {
      accent-color: #5c0bd6;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }
}
