.summary-page {
  padding: 0 2rem;
  background-color: #fafbff;

  &__back {
    background: none;
    color: #626262;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__loader {
    font-size: 1.125rem;
    color: #888;
  }
}
