@use "@/styles/index" as *;

.card {
  gap: 1rem;
  width: 100%;
  max-width: 280px;
  border-radius: 1rem;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #fff;
  transition: border-color 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.18);

  &--selected {
    border: 2px solid $gray-500;
  }

  &__image {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    @include media-breakpoint-up(md) {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
  }

  &__description {
    font-size: 0.875rem;
    color: #141938;
  }

  &__checkbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
